body{
    background-color: lightcoral;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: rgba(163, 159, 159, 0.918);
}
.background{
    background-color: rgb(243, 235, 235);
    width: 500px;
    height: 300px;
    margin: auto;
    margin-top: 40px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container{
    text-align: center;
    padding: 10px;
    
}
.field{
    width: 80%;
    padding: 15px 5px;
    border-color: lightgray;
    border-width: 1px;    
}
button{
    background-color: turquoise;
    color: white;
    border: none;
    padding: 10px 35px;
}

.checkbox{
    font-size: 15px;
    width: 150px;
    padding: 20px;
    margin-left: 10px;
    

   
}